@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(77, 89, 43);
  --color-secondary: var(
    --token-f512b2c0-ccff-4c1c-81ef-5b1a68ff0d48,
    rgb(236, 86, 0)
  );
}

body {
  @apply bg-neutral-100 dark:bg-neutral-950 text-black dark:text-white;
}

main {
  @apply min-h-screen;
}

section {
  @apply min-h-screen px-5 lg:px-10;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl;
}
h2 {
  @apply text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl;
}
h3 {
  @apply text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl;
}
h4 {
  @apply text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;
}
h5 {
  @apply text-lg md:text-xl lg:text-2xl 2xl:text-3xl;
}

p {
  @apply md:text-lg text-black/60 dark:text-white/60;
}
button {
  @apply cursor-pointer;
}
